.gold_title h1{
    font-size:18px;
    font-family:Source Han Sans CN;
    font-weight:bold;
    color:rgba(0,73,148,1);
    padding-left: 13px;
    border-left:4px solid rgba(0,73,148,1);
}
.gold_con{
    margin-top: 32px;
    background:rgba(255,255,255,.95);
    box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.1);
    padding: 46px 0 40px 40px;
}
.gold_top{
    width: 480px;
    background: url("../images/Gold/bg.png") no-repeat;
    background-size: 100% 100%;
    padding: 53px 0 58px 40px;
}
.gold_top h2{
    font-size:24px;
    font-family:Source Han Sans CN;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.gold_top h1{
    font-size:36px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
    margin-top: 20px;
}
.gold_middle{
    margin-top: 60px;
}
.from_group{
    margin-bottom: 20px;
}
.from_group label{
    width: 110px;
    font-size:14px;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(51,51,51,1);
    text-align: right;
    margin-right: 20px;
}
.from_group span{
    position: relative;
}
.from_group i{
    position: absolute;
    right: 0;
    top:-12px;
    width:46px;
    height:40px;
    line-height: 40px;
    background:rgba(13,82,153,1);
    border-radius:0 4px 4px 0;
    font-size:14px;
    font-family:Adobe Heiti Std;
    font-weight:normal;
    color:rgba(255,255,255,1);
    text-align: center;
    font-style:normal;
}
.from_group b{
    position: absolute;
    right: 6px;
    top: -7px;
    width:100px;
    height:30px;
    line-height: 30px;
    background:rgba(0,73,148,1);
    border-radius:4px;
    text-align: center;
    font-size:14px;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(255,255,255,1);
    cursor: pointer;
}
.from_group p{
    display: inline-block;
    width:232px;
    height:50px;
    line-height: 50px;
    text-align: center;
    background:rgba(50,168,238,1);
    border-radius:4px;
    font-size:16px;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(255,255,255,1);
    cursor: pointer;
}
.from_group1{
    margin-top: 40px;
}
.explain{
    margin-top: 60px;
    font-size:14px;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(0,73,148,1);
    line-height:30px;
}
.explain h1{
    font-size: 16px;
}
.explain h1 b{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../images/deposit/8.png") no-repeat;
    background-size: 100% 100%;
    vertical-align: center;
}
.explain p{
    margin-top: 10px;
}
@media (max-width: 920px) {
    .gold_top{
        width: 100%;
    }
    .gold_con{
        padding: 46px 40px 40px;
    }
}
@media (max-width: 768px) {
    .from_group label{
        text-align: left;
    }
    .gold_top h1{
        font-size: 28px;
    }
    .gold_top h2{
        font-size: 20px;
    }
}



























